.el-date-editor {
    .el-range-separator {
        width: 6%;
    }
    .el-range-input {
        width: 38%;
    }
}

.el-checkbox-group .el-checkbox,
.el-checkbox+.el-checkbox {
    margin-right: 30px;
    margin-left: 0;
}
